<!DOCTYPE html>
<html lang="en">
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <% content_for :title do %> Categories - My Blog<% end %>
</head>
<body>
	</br><br />  
	   <div class="container">
	     <div class="row"> 
			<table class="table table-striped">
			  <tr>
			    <th>Categories:</th>
			  </tr>
			  <% @categories.each do |category| %>
			    <tr>
			     <a href= "category.name" ></a>   
			     <td><%= link_to category.name, category_path(category) %></td> 
			    </tr>
			  <% end %>
			</table>         </br>
    	<div class="btn-group "> 
    	  <div class="row">  	   
            <% if can? :create, Article %>
           		<a button type="button" class="btn btn-default" href="http://localhost:3000/categories/new">Add New Category</a></button></div></br>
           		<div class="row"> <a button type="button" class="btn btn-default" href="http://localhost:3000/articles/new">Add New Article</a></button></div></br>
         	<%end%> 
          <div class="row">   <a button type="button" class="btn btn-default" href="/">Back</a></button></div></br>
       </div> 
    </div>
</div>
</div>
</body>
</html>
